@model IEnumerable<BattlePets.Models.BattlePet>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/overcast/jquery-ui.css"> 
<script type="text/javascript">

    $(document).ready(function () {
        $("#name").autocomplete({
            source: function (request, response) { // source muss array of strings oder array of objects mit label/value sein, in diesem Fall eine function die array of objects erzeugt
                $.ajax({
                    url: "/BattlePets/Index", // wo soll hin gepostet werden
                    type: "POST", //wie soll gepostet werden
                    dataType: "json", // welcher datentyp
                    data: { searchTerm: request.term }, // was soll an den server gepostet werden?
                    success: function (data) { // wird bei erfolg aufgerufen
                        response($.map(data, function (item) { // mapt die names der pets auf label/value schema
                            return { label: item.name, value: item.name };
                        }))
                    }
                })
            },
            messages: { // nicht angeben
                noResults: "", results: "" // nicht angeben
            } 
        });
    })
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />

        <div class="form-group">

            <div class="col-md-12">
                <input class="form-control text-box single-line" id="name" name="name" type="text" value="" />
            </div>
        </div>

    </div>
}  



<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dmg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.speed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dmg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.speed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
